body {
    background-color: #a26f40;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainContainer {
    background-color: #f9eeaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 10px 10px rgb(165, 168, 125);
    border-radius:100px;
    width:400px;
    
    
}

#inspireAnswer {
    display:flex;
    margin: 0px auto;
    padding-top: 10px;
    /*border: 3px solid red;*/
    
}

footer {
    color: white;
}

.coffeeCup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    /*padding: 0 10px;*/
    padding-top: 200px;
    justify-content: center;
}

.vapour span {
    position: relative;
    bottom: 10px;
    display: block;
    margin: 0 2px 20px;
    min-width: 8px;
    height: 120px;
    background: #f9eeaa;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(10px);
    animation-delay: calc(var(--v) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
    }
}
